.hero-logo {
    background: url(https://angular.io/assets/images/logos/angular/angular.svg) top center no-repeat;
    height: 200px;
    margin: 0 auto 64px auto;
    overflow: hidden;
    text-indent: -3000px;
    width: 383px;
}

.text {
    text-align: center;
}