.home-page {
    text-align: center;
    h2 {
        background: url(https://angularjs.org/img/AngularJS-large.png) top left no-repeat;
        height: 108px;
        margin: 0 auto 64px auto;
        overflow: hidden;
        text-indent: -3000px;
        width: 383px;
    }
}
